SOAPServiceEmail/WebContent/wsdl/EmailServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.soapserviceemail.aju.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.soapserviceemail.aju.com" xmlns:intf="http://service.soapserviceemail.aju.com" xmlns:tns1="http://bean.soapserviceemail.aju.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.soapserviceemail.aju.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.soapserviceemail.aju.com"/>
   <element name="getEmailOperation">
    <complexType>
     <sequence>
      <element name="emailData" type="tns1:EmailData"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEmailOperationResponse">
    <complexType>
     <sequence>
      <element name="getEmailOperationReturn" type="tns1:EmailStatus"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.soapserviceemail.aju.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EmailData">
    <sequence>
     <element name="bodyOfMail" nillable="true" type="xsd:string"/>
     <element name="fromAddress" nillable="true" type="xsd:string"/>
     <element name="subjectOfMail" nillable="true" type="xsd:string"/>
     <element name="toAddress" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="EmailStatus">
    <sequence>
     <element name="status" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getEmailOperationResponse">

      <wsdl:part element="impl:getEmailOperationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEmailOperationRequest">

      <wsdl:part element="impl:getEmailOperation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmailServiceImpl">

      <wsdl:operation name="getEmailOperation">

         <wsdl:input message="impl:getEmailOperationRequest" name="getEmailOperationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEmailOperationResponse" name="getEmailOperationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmailServiceImplSoapBinding" type="impl:EmailServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEmailOperation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEmailOperationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEmailOperationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmailServiceImplService">

      <wsdl:port binding="impl:EmailServiceImplSoapBinding" name="EmailServiceImpl">

         <wsdlsoap:address location="http://localhost:8083/SOAPServiceEmail/services/EmailServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
